.cell {
  border-width: 1px;
  border-color: rgba(0, 0, 139, 0.342);
  border-style: solid;
  font-size: x-small;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  width: 1.625vw;
  height: 3.3vh;

  transition: transform 200ms linear, background-color 100ms ease-in;
  transform: scale(1);
}

.cell.main {
  transition: transform 200ms linear;
}

.cell:hover {
  z-index: 1;
  transform: scale(1.2);
}
