.cell {
  background-color: rgba(221, 221, 221, 0.603);
  border-width: 1px;
  border-color: rgba(102, 102, 102, 0.493);
  border-style: solid;
  font-size: x-small;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  width: 1.625vw;
  height: 3.3vh;

  transition: transform 200ms linear, background-color 150ms ease-in;
  transform: scale(1);
}

.cell:hover {
  z-index: 1;
  transform: scale(1.2);
}
