#header {
    background-color: #a1c4fd;
    text-align: center;
    font-size:larger;
    font-weight: 500;
}

.algorithms {
    padding-top: 20px;
}

.algorithms button {
    margin-left: 2px;
    margin-right: 2px;
    border-width: 2px;
}

.clears button {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-width: 2px;
}

.can-cross-diagonals{
    margin-top: 25px;
}

.can-cross-diagonals input{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}