.disabled {
  pointer-events: none;
}

.header {
  padding-top: 2vh;
  background-color: #a1c4fd;
}

.header > div {
  text-align: center;
}

.header > div > section > h4 {
  margin-bottom: 5px;
}

.header > .main {
  display: flex;
  padding-bottom: 2vh;
  align-items: center;
  justify-content: space-around;
}

.header h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.notif {
  display: flex;
  justify-content: space-around;
}

.notif > div {
  display: none;
  justify-content: center;
  align-items: center;

  padding: 10px 30px;
  border-radius: 10px;

  background-color: rgb(240, 105, 105);
  width: 20vw;
  min-width: fit-content;
  height: 5vh;
}

.notif.appear > div {
  display: flex;
  position: relative;
  margin-bottom: 1vh;
}

.notif.appear > div > button {
  position: absolute;
  border: none;
  background: transparent;
  color: white;
  top: -5px;
  right: -30px;
}

.notif.appear > div > button > img {
  width: 20px;
  min-width: 20px;
  height: 20px;
}

.header button {
  height: fit-content;
  min-width: 80px;

  font-weight: 400;
  font-size: 1.2em;

  margin-left: 2px;
  margin-right: 2px;

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(109, 109, 109);
  padding: 5px 5px 5px 5px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.header button:hover {
  background-color: #363636;
  color: rgb(228, 228, 228);
}

.header button.disabled {
  color: rgb(109, 109, 109);
}
.header button.disabled:hover {
  color: rgb(109, 109, 109);
  background-color: transparent;
}

.clears button {
  color: #ec1414;
  border-color: #ec1414;
}
.clears button:hover {
  background-color: #b11b1b;
  color: rgb(228, 228, 228);
}
.clears button.disabled {
  color: #967c7c;
  border-color: #967c7c;
}
.clears button.disabled:hover {
  color: #967c7c;
  border-color: #967c7c;
  background-color: transparent;
}

.input-with-prepending {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input-with-prepending > h5 {
  font-weight: bold;
  margin-right: 5px;
}

.input-with-prepending > input {
  border-radius: 5px;
  border-style: solid;
  height: 2em;
}

#diagonals-checkbox {
  height: 20px;
  width: 20px;
}

@media only screen and (max-width: 775px) {
  .header > .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
